.task1 {
  display: grid;
}

.task2 {
  display: grid;
 justify-content: flex-start;

}

.task3 {
  display: grid;
  gap: 25px 10px;
}

.task4 {
  display: grid;
}
.task4 .item2 {
  order: 5;
}
.task4 .item4 {
  order: 4;
}
.task4 .item3 {
  order: 6;
}

.task5 {
  display: grid;
}

.task6 {
  display: grid;
  justify-content: flex-end;
}

.task7 {
  display: grid;
  justify-content: center;
}

.task8 {
  display: grid;
  justify-content: space-between;
}

.task9 {
  display: grid;
  justify-content: space-around;
}

.task10 {
  display: grid;
  justify-content: space-evenly;
}

.task11 {
  display: grid;
}

.task12 {
  display: grid;
grid-template-rows: 80px 80px 80px;
}

.task13 {
  display: grid;
  grid-template-rows: 80px 80px 80px;
 align-content: end;
}

.task14 {
  display: grid;
  grid-template-rows: 80px 80px 80px;
  align-content: center;
}

.task15 {
  display: grid;
}

.task16 {
  display: grid;
  grid-template-rows: 80px 80px 80px;
  align-content: space-between;
}

.task17 {
  display: grid;
  grid-template-rows: 80px 80px 80px;
  align-content: space-around;
}

.task18 {
  display: grid;
  grid-template-rows: 80px 80px 80px;
  align-content: space-evenly;
}

.task19 {
  display: grid;
  grid-template-rows: 80px 80px 80px;
  align-content: center;
}

.task20 {
  display: grid;
  grid-template-columns: 50px 50px;
  justify-content: start;
}

.task21 {
  display: grid;
  grid-template-columns: 50px 50px;
 justify-content: end;
}

.task22 {
  display: grid;
  grid-template-columns: 50px 50px;
  justify-content: space-around;
}

.task23 {
  display: grid;
}

.task24 {
  display: grid;
 grid-template-rows: 80px 80px 80px;
align-content: space-between;
}

.task25 {
  display: grid;
}

.task26 {
  display: grid;
  grid-template-rows: 80px 80px 80px;
  
}

.task27 {
  display: grid;
}

.task28 {
  display: grid;
  grid-template-rows: 80px 80px 80px;
  grid-row-gap: 40px;
}

.task29 {
  display: grid;
  grid-template-columns: 50px 50px;
  justify-content: space-around;
}

.task30 {
  display: grid;
}
.task30 .item1 {
}

.task31 {
  display: grid;
}
.task31 .item2 {
}

.task32 {
  display: grid;
}
.task32 .item3 {
}

.task33 {
  display: grid;
}
.task33 .item4 {
}

.task34 {
  display: grid;
}
.task34 .item1 {
}

.task35 {
  display: grid;
}
.task35 .item2 {
}

.task36 {
  display: grid;
}
.task36 .item3 {
}

.task37 {
  display: grid;
}
.task37 .item4 {
}

.task38 {
  display: grid;
}
.task38 .item5 {
}

.task39 {
  display: grid;
}

.task40 {
  display: grid;
}

.task41 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.task42 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.task42 .item1 {
}
.task42 .item2 {
}
.task42 .item3 {
}
.task42 .item4 {
}
.task42 .item5 {
}
.task42 .item6 {
}

.task43 {
  display: grid;
}
.task43 .item3 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column: 1 / -1;
}

.task44 {
  display: grid;
}
.task44 .item3 {
  grid-row-start: 1;
}

.task45 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.task45 .item3 {
 grid-column: 1 / -1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.task46 {
  display: grid;
}

.task47 {
  display: grid;
}

.task48 {
  display: grid;
}

.task50 {
  display: grid;
}

.task49 {
  display: grid;
}

.task51 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.task52 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
